@page "/"


@code{
    public string TextValue { get; set; }



}
<PageTitle>Primær Søgning</PageTitle>


<h1>Pricely (Version 0.6)</h1>
<div class="m-10 flex flex-row content-normal rounded-xl bg-[#292a2d] p-10">
    <MudText Class="mr-5 mt-4 text-white">Søgning: </MudText>
    <MudTextField T="string"
                  Variant="Variant.Outlined"
                 
                  Text="@TextValue"
                  Adornment="Adornment.End"
                  AdornmentIcon="@Icons.Material.Filled.Search"
                
                  AdornmentColor="Color.Tertiary"
                  Style="color:white;"
                 >
    </MudTextField>    
</div>

<MudText Class="font-bold">Hvordan fungerer søgning?</MudText>
<MudText Class="font-extralight">Når du søger med Pricely, søger du med PriceRunner API. Fordelen er dog at du IKKE bliver tracket.</MudText>

