@page "/"


<MudThemeProvider Theme="PricelyTheme" />
@code{
    public string TextValue { get; set; }

    MudTheme PricelyTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                Primary = Colors.Teal.Lighten1,
                Secondary = Colors.Green.Accent4,
                AppbarBackground = Colors.Green.Default,
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Gray.Lighten1
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}
<PageTitle>Primær Søgning</PageTitle>


<h1>Pricely (Version 0.6)</h1>
<div class="m-10 flex flex-row content-normal rounded-xl bg-[#292a2d] p-10">
    <MudText Class="mr-5 mt-4 text-white">Søgning: </MudText>
    <MudTextField T="string"
                  Variant="Variant.Outlined"
                  Label="Søg!"
                  Text="@TextValue"
                  Adornment="Adornment.End"
                  AdornmentIcon="@Icons.Material.Filled.Search"
                
                  AdornmentColor="Color.Tertiary"
                  Class="border-white">
    </MudTextField>    
</div>

Helt ny side!
