
/* Custom styles */
.p-button {
  font-weight: 500;
}

.bg-rose-500 {
  background-color: #f43f5e;
}

.border-rose-500 {
  border-color: #f43f5e;
}

.text-rose-500 {
  color: #f43f5e;
}

.hover\:text-rose-500:hover {
  color: #f43f5e;
}