@page "/api-references"


@* Titel og beskrivelse*@
<MudText Typo="Typo.h4" GutterBottom="true">API Referencer (Ikke færdig endnu)</MudText>

<MudText Typo="Typo.body1">Dette er dokumentation for alle de forskellige API'er Pricely gør brug af.</MudText>
<div class="flex w-20 flex-col flex-wrap space-y-2">

<MudFab StartIcon="@Icons.Material.Filled.Api" Class="bg-green-600 text-black" Label="PriceRunner" />
<MudFab StartIcon="@Icons.Material.Filled.Api" Class="bg-green-600 text-black" Label="Elgiganten" />
<MudFab StartIcon="@Icons.Material.Filled.Api" Class="bg-green-600 text-black" Label="POWER" />
</div>



@* Pricely API Dokumentation*@
<br />
<MudText Typo="Typo.h5" GutterBottom="true">Pricely API Dokumentation</MudText>
<MudText Typo="Typo.body1">
    Dette er dokumentation for selve Pricely API.



</MudText>






@code {

}
